<nav class="navbar navbar_no_margin navbar_content navbar-light bg-light">
    <div class="row">
        <div class="col-md-2 col-xs-2">
          <img src="<%= @demand.image_path %>" style="margin-left:10px;margin-bottom:5px;" class="img-thumbnail thumbnails">
        </div>
        <div class="col-md-8 col-xs-8">
          <h4><%= @demand.name.capitalize %></h4>
          <p><%= @demand.short_description.capitalize %></p>
          Submissões: <b><%= @demand.entrega.all.size %></b>
          <% if !(current_user) %>
            <br>Para realizar submissões, <b>realize seu cadastro!</b>
            <% end %>
        </div>
        <div align="center" class="col-md-2 col-xs-2">
            Premiação<br>
            <h4>R$ <%= @demand.value %>,00</h4><br><br>
        </div>
  </div>
</nav>
<nav class="navbar navbar-light bg-light">
    <div class="row">
        <div align="center" class="details_nav col-md-2 col-xs-2">
            <a href="/demand/details/<%= @demand.id %>" class="btn btn-secondary">Visão geral</a>
        </div>
        <% if ((current_user && current_user.tipo.downcase != 'parceiro') && @demand.tipo == 'demand' ) %>
        <div data-content="submit" align="center" class="details_nav col-md-2 col-xs-2">
            <a class="btn btn-secondary">Submeter</a>
        </div>
        <% end %>
        <div data-content="ranking" align="center" class="details_nav col-md-2 col-xs-2">
            <a class="btn btn-secondary">Ranking</a>
        </div>
        <div data-content="made_submits" align="center" class="details_nav col-md-2 col-xs-2">
            <a class="btn btn-secondary">Submissões feitas</a>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <%= render '/demand/overview' %>
    </div>
</div>
<script>
$('div[data-content]').click(function(){
        $("li[data-content]").removeClass("active")
         $(".title_demand_overview").html($(this).text())
        $.get(`/details/partial/${$(this).data("content")}/<%= @demand.id %>`)
    })
    
</script>