<fieldset>
    <legend><h2>Formulário de Entrega de solução</h2></legend>
    <% if (@object.entrega.where("user_id = :uid",{uid: current_user.id.to_s})).empty? %>
    Utilize o formulário abaixo para submeter sua solução:
    <%= form_for @entrega do |f| %>
    <div class="form-group">
        <%= f.label :title, "Nome do projeto" %>
        <%= f.text_field :title, class: 'form-control', required: true %>
    </div>
    <div class="form-group">
        <%= f.label :description, "Descrição" %>
        <%= f.text_area :description, class: 'form-control', required: true %>
    </div>
    <div class="form-group">
        <%= f.label :repository_link, "Link do versionamento do projeto" %>
        <%= f.text_field :repository_link, class: 'form-control', required: true %>
    </div>
    <%= f.hidden_field :demand_id, value: @object.id %>
    <div class="form-group">
        <%= f.submit "Submeter", class: 'form-control', required: true %>
    </div>
    
    <% end %>
    <% else %>
    
    <font class="red">Você já submeteu uma solução.</font> <br>Por favor, aguarde até sua solução ser julgada / analisada pelo demandante para aferir o potencial de cooperação de sua solução,
    
    <% end %>
</fieldset>